<ion-header>
  <ion-toolbar>
    <ion-title>Información</ion-title>

    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="Regresar"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>A través de esta aplicación queremos dar a conocer los efectos y factores de riesgos involucrados en el peso de la persona,
      conociendo desde el bajo peso y sus consecuencias, el peso idea, los beneficios en la salud y fomentar la actividad física y
      sobre peso y obesidad con sus distintos grados, es una aplicación educativa y que brinde conciencia de los riegos y o beneficios asociados al peso de la persona</p>
  </div>

  <div>
    <ion-img src="/assets/imagen1.jpg"></ion-img>
  </div>
<!--Primera parte-->
  <div>
    <h1> Conozcamos de la enfermedad “Bajo peso” la cual puede esconder una enfermedad sicológica.</h1>
  </div>

  <div>
    <p>
      El peso corporal no siempre es un reflejo del estado de salud de una persona.
      Un nuevo estudio dirigido por investigadores de la Facultad de Medicina de Stanford y la Universidad de California-San Francisco
      argumenta que factores como el índice de masa corporal (IMC) pueden ocultar trastornos alimenticios.
      Se trata de la investigación más completa hasta la fecha sobre el tema.
      Los expertos explican que adolescentes y los adultos jóvenes con trastornos de la conducta alimentaria como… para leer más pincha el botón
      <ion-button color="primary" href="https://www.elperiodico.com/es/ciencia/20191107/anorexia-indice-masa-corporal-7716510">“Conocer más”</ion-button>
    </p>
  </div>

  <div>
    <p>
      Revise la explicación de un experto sobre el tema
      <button onclick="location.href='https://www.youtube.com/watch?v=SnaHcquUy0w&ab_channel=Globovisi%C3%B3nVideos'" block>
        <ion-img src="/assets/experto1.jpg" ></ion-img>
      </button>
    </p>
  </div>
<!--Segunda parte-->
  <div>
    <h1>Peso Ideal… ¡Fomentamos el ejercicio diario!</h1>
  </div>

  <div>
    <p>La importancia de la actividad física no es fácil de resumir ya que, cada día, se descubren nuevos beneficios que aportará a tu salud.
      La sociedad de hoy en día está cayendo peligrosamente en un estilo de vida más sedentario, por lo que hay mayor necesidad de aumentar el nivel de actividad diaria.
      ¡¡Mantenerse activo significa mantener tu cuerpo funcionando … Conozcamos más!!</p>
      <ion-button color="primary" href="https://shawellnessclinic.com/es/shamagazine/importancia-de-la-actividad-fisica-para-tu-salud/">“Conocer más”</ion-button>
  </div>

  <div>
    <p>
      ¡¡Ahora!! Veamos que nos puede enseñar el Dr. Gonzalo Fernández Especialista en medicina del deporte en Clínica Alemana
    </p>
    <button onclick="location.href='https://www.youtube.com/watch?v=3e1ThqeTKfM&ab_channel=Cl%C3%ADnicaAlemana'" block>
      <ion-img src="/assets/experto2.jpg" ></ion-img>
    </button>
  </div>
<!--tercera parte-->
  <div>
    <h1>La Adicción a la comida; una peligrosa y deliciosa enfermedad.</h1>
  </div>

  <div>
    <p>Obesidad significa tener mucha grasa corporal. No es lo mismo que sobrepeso, que significa pesar demasiado.
      Una persona puede tener sobrepeso derivado de músculo, hueso o agua adicional, así como mucha grasa.
      Pero ambos términos significan que el peso de alguien es mayor del que se considera saludable para su estatura.
      Más de 1 de cada 3 adultos en …</p>
      <ion-button color="primary" href="https://medlineplus.gov/spanish/ency/article/003101.htm">“Conocer más”</ion-button>
  </div>

  <div>
    <p>Entendamos las complicaciones y como poder superar esta peligrosa enfermedad</p>
    <button onclick="location.href='https://www.youtube.com/watch?v=YHmEtpfbVFU&ab_channel=MedicinaClara%7CVideosdemedicinaenYoutube'" block>
      <ion-img src="/assets/experto3.jpg" ></ion-img>
    </button>
  </div>

</ion-content>
